@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


:root{
    --primary: #60A5FA;
    --secondary:#D97706;


}

* {
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}



#translate-input{
    font-size: large;
    display:block;
    margin: auto;
    width:70%;
    min-height: 10vh;
    max-height: 20vh;
    border: double;
    margin-top: 2rem;
}

#translate-btn{
    display: block;
    margin: auto;
    margin-block: 3rem;
    padding: 1rem;
    background-color: var(--primary);
    border: double;
    

}

#translate-output {
    display: block;
    margin: auto;
    box-sizing: border-box;
    width: 70%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid black;
    margin-block:3rem;
    border: double;
}
nav{
    padding: 2rem;
    text-align: center;
    background-color:var(--primary);
}
nav h1{
    font-size: x-large;
    font-weight: bolder;
}

body{
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 3rem;
    background-color: var(--primary);
    text-align: center;
}


.ending-text{
    font-size: large;
    margin:auto;
}
